@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER */

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    flex-wrap: wrap;
}

.logo {
    margin:10px 0;
}

.logo i {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.logo img {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav {
    margin: 10px 0:
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    padding: 5px 10px;
}

nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header-content-one {
    max-width: 800px;
    padding: 20px;
}

.header-content-two {
    max-width: 800px;
    margin: 20px;
    width: 100%;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}

@media screen and (max-width: 1000px) {
    .header-content {
        flex-direction: column;
    }
    
    .header-content-one {
        text-align: center;
        max-width: 600px;
    }

    .header-content-two {
        display: none;
    }
}

header h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
}

header button {
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

header button:hover {
    outline: 2px solid #E5E7EB;
}

/* SECTION 2 */

.section-2 {
    background-color: white;
    text-align: center;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-decoration: underline;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    margin: 30px 10px 70px 10px;
    font-size: 24px;
    border: 0px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}

.card:hover {
    outline: 4px solid #3882F6;
}

.card-image img {
    width: 100%;
}

/* SECTION 3 */

.section-3 {
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1000px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

/* SECTION 4 */

.section-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.cta {
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    padding: 20px;
}

.cta-text {
    color:#E5E7EB;
    padding: 10px;
}

.cta-button {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 50px;
    width: 200px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.cta-button:hover {
    color: #3882F6;
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .cta {
        text-align: center;
        flex-direction: column;
    }
}

/* FOOTER */

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #E5E7EB;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}